.banner{
    /* background-color: aqua; */
    height: 600px;
    width: 100%;
}
.banner-content .future{
    color: #B41EAA;
}

.banner-img .phone{
    height: 600px;
    width: 500px;

}
.banner-img{
   background-image: url('../images/back-gradient.png');
   width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;


}
.cube{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
    z-index: -1;
}
.cube2{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
    z-index: -1;
}